---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import formatDate from "@/utils/formatDate";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="prose">
    <h1 transition:name={`${entry.id}-title`} class="mb-0">
      {entry.data.title}
    </h1>
    <span transition:name={`${entry.id}-date`}
      >{formatDate(entry.data.date)}</span
    >
    <Image
      src={entry.data.cover}
      alt="cover image"
      transition:name={`${entry.id}-cover`}
    />
    <Content />
  </div>
  <a class="mt-16" href="/blog">
    <Button variant="secondary" size="lg">Return to Blog</Button>
  </a>
</Layout>
