---
import Layout from "@/layouts/Layout.astro";
import Gallery from "../../components/Gallery.jsx";
// import getAlbums from "@/utils/getAlbums";
import { Button } from "@/components/ui/button";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const albums = await getCollection("albums");
  // const albums = await getAlbums();
  return albums.map((album) => ({
    params: { slug: album.id.split("/").at(-1) },
    props: { album },
  }));
}

export interface Props {
  album: CollectionEntry<"albums">;
}

const { album } = Astro.props;
const images = Object.entries(
  import.meta.glob(`../../content/albums/**/*.{jpg,jpeg,png}`, { as: "url" })
)
  .filter(([key, val]) => key.includes(album.id.split("/")[0]))
  .map(([key, val]) => val);
console.log(images);
---

<Layout title={album.data.name}>
  <div class="max-w-xl flex flex-col items-center">
    <h2 class="text-lg font-bold w-full pb-4">{album.data.name}</h2>
    {images.map((image, i) => <Image src={image()} alt="Album photo" />)}
    <Gallery images={images} name={album.data.name} client:load />
    <br />
    <a href="/portfolio">
      <Button variant="secondary">Return to Portfolio</Button></a
    >
  </div>
</Layout>
